# Base URL API Kuranime (tanpa trailing slash)
VITE_API_URL=https://kura-api.misaka.biz.id/api

# Base URL ZenProxy (tanpa trailing slash, tanpa path endpoint)
VITE_PROXY_URL=https://zenproxy.hamdiv.me
